<div id = "lessonsContainer">
	<h5 style = text-align:center;> Order Confirmation <br><br>
	 Your order number will be: <%= @orders.id %>.<br><br> Please click the "Buy Now" button below to make payment and complete the order </h5><br><br>

	 <table id = "customers">
	 	<tr>
	 		<% @orders.id do |order| %>

	 		<td>Order reference for the order you just placed <%= orders.id %></td>
	 		<% end %>
	 	</tr>
	 </table>


	 <table id = "customers">
	 <% @total = 0 %>
	 <% @orderlessons.each do |id, quantity| %>

	 	<tr>
	 		<% lesson = Orderlesson.find_by_id(id) %>
	 	
	 		<td><%= lesson.title %></td>
	 		<td><%= lesson.quantity %></td>
	 		<td><%= number_to_currency(lesson.price, :unit => "€") %></td>
	 		<td><%= number_to_currency(lesson.quantity * lesson.price, :unit => "€") %></td>
	 	</tr>



	 	<tr>

	 	<% timx = (lesson.quantity * lesson.price)%>

	 	<% @total += timx %>
		</tr>

		<% end %>

		<tr>

			<td>Order Total: &euro; <%= @total%></td>

		</tr>

	</table>
	<br>

	<div class = "container">
	<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

	  <!-- Identify your business so that you can collect the payments. -->
	  <input type="hidden" name="business" value="sb-xfxyx1548893@business.example.com">

	  <!-- Specify a Buy Now button. -->
	  <input type="hidden" name="cmd" value="_xclick">

	  <!-- Specify details about the item that buyers will purchase. -->
	  <input type="hidden" name="item_name" value="Vivace Order Number <%= @orders.id %>">
	  <input type="hidden" name="currency_code" value="EUR">
	  <input type="hidden" name="amount" value="<%= @total %>">

	  <!-- Display the payment button. -->
	  <input type="image" name="submit" border="0"
	  src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="Buy Now">
	  <img alt="" border="0" width="1" height="1"
	  src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
	  <input type="hidden" name="return" value="https://eefc89ca0a734d50a00badc6cabc045a.vfs.cloud9.us-east-1.amazonaws.com/paid/<%= @order.id %>">

	</form>
	</div>
</div>
<br>