<% if @cart.empty? %>
<p>You have not added any courses yet</p>
<% end %>

<p id="notice"><%= notice %></p>

<div id="lessonsContainer">
    <table id="customers">
        <% total = 0 %>
        <% @cart.each do |id, quantity| %>
        
        <% lesson = Lesson.find_by_id(id) %>
        <% quantity= quantity %>
        <% category= lesson.category_name %>
        <% timx = (quantity * lesson.price)%> 
        
        
        <% total += quantity * lesson.price %>            
        
        
        <tr>
            <td>
                <div class="image">
                    <%= link_to (image_tag lesson.image_url.url, :style =>"height:100px"), lesson %>
                </div>
                
            </td>
            
            <td class="title"><%= link_to lesson.title, lesson %></td>
            <td><a href="/cart/remove/<%= lesson.id %>">Remove From Cart</a></td>
            <td class="price"><%= number_to_currency(lesson.price, :unit =>"€") %></td>
            <td class="quantity"><%= quantity %></td>            
            <td class="price"><%= number_to_currency(timx, :unit =>"€") %></td>
           
            
        </tr>
        
         <% end %>
         
         <tr>
            
          </tr>
          </table>
           <br>
           <br>
           <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    Grand Total: <%= number_to_currency(total, :unit => "€") %> 
                </div>
            </div>
            </div>
        </div>
            <br>
            <hr>
            <br>
        <div class="container">
            <div class="row">


                <div class="col-md-4">
                <a href="/lessons" class="btn btn-secondary">Book Another Course</a> 
                </div>

                <div class="col-md-4">
                <a href="/checkout" class="btn btn-primary">Checkout</a>
                </div>
            
          
                <div class="col-md-4">
                <a href="/clearcart" class="btn btn-secondary">Empty Cart</a>
                </div>
            </div>
           </div> 
           
    
</div>