<%= form_with(model: tutor, local: true) do |form| %>
  <% if tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

      <ul>
        <% tutor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%#= form.text_field :tutor_name %>
    <%= form.text_field :name, id: :name, :type =>"text", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :desc %>
    <%#= form.text_area :tutor_desc %>
    <%= form.text_area :desc, id: :desc, :type =>"text", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%#= form.text_field :tutor_category %>
    <%= form.text_field :category, id: :category, :type =>"text", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image_url %>
    <%#= form.text_field :image_url %>
    <%= form.text_field :image_url, id: :image_url, class: 'form-control' %>
  </div>

   <div class="form-group">
    <label class="btn btn-primary">
      Upload an image file <%= form.file_field :image_url, style: 'display:none;' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Save Tutor', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
