<div id="lessonsContainer">

<p id="notice"><%= notice %></p>
<% if @order.user.email == @user.email %>
<h1>Order Details</h1>
<table id="customers">
  <tr>
    <td>Order date:</td>
    <td>Ordered By</td>
    <td>Order date:</td>
  </tr>
  
  <tr>
    <td><%= @order.order_date %></td>
    <td><%= @order.user %></td>
    <td><%= @order.status %></td>
    
  </tr>
  
  <tr>
    <td><%= link_to 'Edit', edit_order_path(@order), :class =>"button" %></td>
    <td><%= link_to 'Back', orders_path, :class =>"button" %></td>
        
  </tr>
  </table>

<h2>Order Lessons</h2>

 <table id="customers">
   <% @orderlessons.each do |orderlesson| %>
      <tr>
        <td><%= orderlesson.created_at %></td>
        
        <td><%= orderlesson.title %></td>
       <td><%= orderlesson.order_id %></td>
       
      </tr>
    <% end %>
 
   <tr></tr>
   </table>
   <% else %>
   
<h1>You did not place this order</h1>
<% end %>

      
   </div>