<%= form_with(model: lesson, local: true) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-group">
    <%= form.label :title %>
    <%#= form.text_field :lesson_title %>
    <%= form.text_field :title, id: :title, :type => "text", class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :desc %>
    <%#= form.text_area :lesson_desc %>
    <%= form.text_field :desc, id: :desc, :type => "text", class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%#= form.text_field :lesson_price %>
    <%= form.text_field :price, id: :price, :type =>"text", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image_url %>
    <%#= form.text_field :image_url %>
    <%= form.text_field :image_url, id: :image_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.file_field :image_url %>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <%#= form.text_field :lesson_category %>
    <%= form.text_field :category_id, id: :category_id, :type =>"text", class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= form.label :category_name %>
    <%#= form.text_field :lesson_category %>
    <%= form.text_field :category_name, id: :category_name, :type =>"text", class: 'form-control' %>
  </div>

  <!--<div class="field">
    <%#= form.label :category_name %>
    <%#= form.text_field :lesson_category %>
    <%#= form.collection_select :title, :id, Category.all, :prompt => 'Select Category'%>
  </div>--> 

  <div class="form-group">
    <%= form.label :level %>
    <%#= form.text_field :lesson_level %>
    <%= form.text_field :level, id: :level, :type =>"text", class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= form.label :start_date %>
    
    <%= form.text_field :start_date, id: :start_date, :type =>"text", class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= form.label :duration %>
    
    <%= form.text_field :duration, id: :duration, :type =>"text", class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= form.label :tutor_id %>
   
    <%= form.text_field :tutor_id, id: :tutor_id, :type =>"text", class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= form.label :tutor_name %>
   
    <%= form.text_field :tutor_name, id: :tutor_name, :type =>"text", class: 'form-control' %>
  </div>

<!--The following might be swapped with the tutor name field above to make it dynamically pick a tutor name-->
  <!--<ul>
    <%#=form.fields_for :tutors do
    <li> |tutors_form|%>
    <%#=tutors_form.label :name%>
    <%#=tutors_form.text_field :name%>
    </li>
    </ul>
  -->

  <%= form.submit 'Save Course', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>