<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image url</th>
      <th>Category</th>
      <th>Level</th>
      <th>Start Date</th>
      <th>Duration (weeks)</th>
      <th>Tutor Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.title %></td>
        <td><%= lesson.desc %></td>
        <td><%= lesson.price %></td>
        <td><%= lesson.image_url %></td>
        <td><%= lesson.category %></td>
        <td><%= lesson.level %></td>
        <td><%= lesson.start_date %></td>
        <td><%= lesson.duration %></td>
        <td><%= lesson.tutor_name %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
