<%=render 'layouts/search'%>


<% if @lessons.length == 0  %>

<h2>No lessons were found to match your search</h2>
<% end %>

 <div id="lessonsContainer">
  
  
     
      <% @lessons.each do |lesson| %>
      <div class="lessonhols">
       <h1><%= lesson.title %></h1>
       
       <%= link_to (image_tag lesson.image_url, :class => "lessonholsIm"), lesson %>
        <p>Description <%= lesson.desc %></p>
       <p>Price <%= number_to_currency(lesson.price, :unit => "€") %>
       <br>
        Category: <%= lesson.category %>
        <br>
        
       
       <p>
         <%= link_to 'View',  lesson, :class => "button", :role => "button" %>
              
     

       <% if user_signed_in? %>
         <% if current_user.admin? %>   
<%= link_to 'New Lesson', new_lesson_path, :class =>"button", :role=>"button" %>
<% end %>
  <% end %> 
          
          

       </p>
        
      </div>
    <% end %>
    
      
</div>

<br>