<!DOCTYPE html>
<html>

<header class = "headSec">

<h1><%=@page_title%> </h1>
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta name = "keywords" content="<%=@seo_keywords %>"/>
</header>

<body>  
  <div>
    <div><%= link_to "Home", "/" %></div>
    <div><%= link_to "About", about_path %></div>
    <div><%= link_to "Lessons", lessons_path %></div>
    <div><%= link_to "Tutors", tutors_path %></div>
    
  </div>



 <%= login_helper %>

<div class="container">
  <%= yield %>
</div>

<footer class="foot">
  

</footer>
</body>
</html>
