<!DOCTYPE html>
<html>

<header class = "headSec">

<h1><%=@page_title%> </h1>
<meta name = "keywords" content="<%=@seo_keywords %>"/>
<%= stylesheet_pack_tag 'lessons', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</header>

<body>  
  


 <%= login_helper %>

<div class="container">
  <%= yield %>

  <%=render "shared/nav" %>

</div>

<footer class="foot">
  

</footer>
</body>
</html>